body {
	background: #000 !important;
	color-scheme: dark;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Shared indicator styles (ported from panel button.scss) */
.steady {
	position: absolute;
	bottom: 0px;
	left: 0px;
    right: 0px;
	height: 12px;
	margin-left: 0px;
	margin-right: 4px;
	width: calc(100% - 0px);
}
.steady .ct { display: none; }
.steady .inner { display: none; }

.flutter {
	position: absolute;
	bottom: 4px;
	left: -1px;
	height: 9px;
	width: calc(100% - 10px);
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 1px;
}
.flutter .ct { position: relative; width: 100%; height: 100%; }
.flutter .inner {
	height: 0px;
	width: 0px;
	border-style: solid;
	border-width: 5px 26px 5px 26px;
}

.active { border: 2px solid #00fd3f; }
.active .inner { border-color: #00fd3f transparent #00fd3f transparent; }

.receive { border: 2px solid #00fd3f; }
.receive .inner { border-color: transparent #00fd3f #00fd3f transparent; }

.inuse { border: 2px solid #ff001c; }
.inuse .inner { border-color: transparent #ff001c #ff001c transparent; }

.hold { border: 2px solid #ff001c; }
.hold .inner { border-width: 0px 26px 10px 26px; border-color: transparent transparent #ff001c transparent; }

.flashing { animation: cssAnimation 1s infinite; visibility: hidden; }
@keyframes cssAnimation { 50% { visibility: hidden; } 51% { visibility: visible; } }

.green { background: #00fd3f; }
.red { background: #ff001c; }
